/Debug/
/.settings/
/Release/
/array_test.jl
/cfg.txt
/equals_test.jl
/hello.jl
/in.jl
/in.jm
/out.jb
/out.jm
/temp.jb
/temp.jl
/temp.jm
/test.jb
/test.jl
/test.jm
/collect_tests.jb
/collect_tests.jl
/collect_tests.jm
/func_ptr.jb
/func_ptr.jl
/func_ptr.jm
